  Restoration   Verification  


 ## Website 

  http://SERVER-IP   --login and verify from browser

## Database 

sudo mysql    --login to database
USE wordpressdb;
SHOW TABLES; 
EXIT;

## User Verification 

sudo -u www-data wp user list  

## Apache, Mariadb, PHP

apache2 -v
php -v 
mysql --version
